
<div class="loginclass">
<br>
<br>

<center>
                <div class="loginheading">
                        <h3>Login</h3>
            </div>
    <div class="logindiv">

        {{input type="text" placeholder="Please enter your UserID" value = loginUserId id="luname" }}
        <br><br>
        
        {{input type="Password" placeholder="Please enter your password" value = loginPassword id="lupass" }}

        <br><br>
        
        {{input type="checkbox" id="check" name="language"}} Remember me


        <br><br>

        <button {{action "login"}} id="dow">Login</button>
        &nbsp; &nbsp;
        <button {{action "fetch"}} id="dow">Fetch</button>
        <br>
            &nbsp; &nbsp; &nbsp; <p>Did'nt have a account ?</p>{{#link-to "register"}}Signup{{/link-to}}

        <br>
        <br>

        <span class="loginresponse"></span>
    </div>
    </center>
 </div>