<div class="rddiv" style="margin:0px;">
	<input type="radio" checked={{data.checked}} value={{data.value}} disabled={{data.disabled}} name={{data.name}} tabindex={{data.tabindex}} id={{data.id}}>
	<label class="rbcustom" style="padding:2px 0px 0px 20px;" {{action "labelClicked"}}><span>{{data.label}}</span></label>
</div>

	